src/main/mule/splitter-aggregator-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cfd1fe6d-1671-4ad5-8d3d-612f7a85b760" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="splitter-aggregator-exampleFlow" doc:id="6d39bf79-2fc5-4fa8-b9f7-223c5557c896" >
		<http:listener doc:name="Listener" doc:id="32275262-110d-46b1-96ac-9266982fa5b8" config-ref="HTTP_Listener_config" path="/split"/>
		<set-variable value="#[[]]" doc:name="varAgg" doc:id="bf7a8b13-caaa-4c49-a5de-ed1d2ee9e247" variableName="varAgg"/>
		<foreach doc:name="For Each" doc:id="8ec38214-3e28-4be2-91f1-1ed3897d678b" collection="#[payload filter($.age&lt;30)]" batchSize="10">
			<flow-ref doc:name="Flow Reference" doc:id="ebd4ce24-f37b-4b9e-8a69-16592eaf80e1" name="splitter-aggregator-exampleSubFlow" />
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="194c5d37-bd00-498b-b33b-7a1981d80dbf">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.varAgg]]></ee:set-payload>
				</ee:message>
			</ee:transform>
	</flow>
	<sub-flow name="splitter-aggregator-exampleSubFlow" doc:id="d033af90-dab2-4784-b63e-76ace79ebeb0" >
		<ee:transform doc:name="Transform Message" doc:id="a6ea861c-d4b4-4dfb-94f5-8942823b5d16">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="varAgg"><![CDATA[%dw 2.0
output application/json
---
//vars.varAgg + "Name":payload.name

vars.varAgg + "Name":payload.name

]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9e77edb3-e377-4e0a-a9ef-72348697f60b" message="#[vars.varAgg]"/>
	</sub-flow>
</mule>
